<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyApp</title>
  </head>
  <body>
    <div id="app">
      <h1 v-text="message"></h1>
     </div>
  </body>
  <footer><script type="text/javascript" src="/js/main.js"></script></footer>
</html>
